# Setup

## Import libraries

In [1]:
# Data manipulation
import pandas as pd
import numpy as np

# Options for pandas
pd.options.display.max_columns = 50
pd.options.display.max_rows = 30

# Visualizations
import plotly
import plotly.graph_objs as go
import plotly.offline as ply
plotly.offline.init_notebook_mode(connected=True)

import matplotlib as plt

from datetime import date

# Autoreload extension
if 'autoreload' not in get_ipython().extension_manager.loaded:
    %load_ext autoreload
    
%autoreload 2

## Set today's date

In [2]:
today = date.today()

# dd/mm/YY
#d1 = today.strftime("%d/%m/%Y")
#print("d1 =", d1)

# Textual month, day and year	
#d2 = today.strftime("%B %d, %Y")
#print("d2 =", d2)

# mm-dd-y
d3 = today.strftime("%m-%d-%Y")
#print("d3 =", d3)

# Month abbreviation, day and year	
#d4 = today.strftime("%b-%d-%Y")
#print("d4 =", d4)

# Leave as is
filename = (f'{d3} Cleaned & Merged Countries.csv')
filename

'04-07-2020 Cleaned & Merged Countries.csv'


# Data import
We retrieve all the required data for the analysis.

## Import Country csvs

In [3]:
# Load in Johannesburg csv
johannesburg_csv = "Raw datasets/diepkloof,-johannesburg metro, south africa-air-quality.csv"

# Load in Kapolei csv
kapolei_csv = "Raw datasets/kapolei,-hawaii, usa-air-quality.csv"

# Load in Madrid csv
madrid_csv = "Raw datasets/madrid-air-quality.csv"

# Load in Merced csv
merced_csv = "Raw datasets/merced,-m√©xico, mexico-air-quality.csv"

# Load in Milano csv
milano_csv = "Raw datasets/milano-senato, lombardia, italy-air-quality.csv"

# Load in Mumbai csv
mumbai_csv = "Raw datasets/mumbai-us consulate, india-air-quality.csv"

# Load in NY csv
ny_csv = "Raw datasets/new-york, usa-air-quality.csv"

# Load in Sydney csv
sydney_csv = "Raw datasets/sydney,-nova scotia, canada-air-quality.csv"

# Load in Vancouver csv
vancouver_csv = "Raw datasets/vancouver-international airport #2, british comlumbia, canada-air-quality.csv"

# Load in Wuhan csv
wuhan_csv = "Raw datasets/wuhan-air-quality.csv"

###### Display Johannesburg

In [14]:
# Read and display the csv with Pandas
johannesburg_pd = pd.read_csv(johannesburg_csv, low_memory=False)

print(f'''There are {len(johannesburg_pd)} rows''')
print(johannesburg_pd.shape)

johannesburg_pd.head()

There are 582 rows
(582, 7)

       date  pm25  pm10  o3  no2  so2  co
0  2020/4/2    68    10   4    5    4   2
1  2020/4/3    36    14   4    6    1   3
2  2020/4/4    38    22   4    8    1   4
3  2020/4/5    54    25   8    5    1   3
4  2020/4/6    71    13   8    5    1   3

###### Display Kapolei

In [15]:
# Read and display the csv with Pandas
kapolei_pd = pd.read_csv(kapolei_csv, low_memory=False)

print(f'''There are {len(kapolei_pd)} rows''')
print(kapolei_pd.shape)

kapolei_pd.head()

#This is missing an o3 column

There are 2087 rows
(2087, 6)

       date  pm25  pm10  no2  so2  co
0  2020/4/2    15     6    3        2
1  2020/4/3    12     7    4        2
2  2020/4/4    15     6    2        2
3  2020/4/5    14     6    3        2
4  2020/4/6    13     6    4        2

###### Display Madrid

In [16]:
# Read and display the csv with Pandas
madrid_pd = pd.read_csv(madrid_csv, low_memory=False)

print(f'''There are {len(madrid_pd)} rows''')
print(madrid_pd.shape)

madrid_pd.head()

There are 2255 rows
(2255, 7)

       date  pm25  pm10   o3  no2  so2  co
0  2020/4/2    37    10   29   14    2
1  2020/4/3    35    11   36   12    2
2  2020/4/4    39    11   34   10    2
3  2020/4/5    42    14   34    5    2
4  2020/4/6    45    17   26    8    1

###### Display Merced

In [17]:
# Read and display the csv with Pandas
merced_pd = pd.read_csv(merced_csv, low_memory=False)

print(f'''There are {len(merced_pd)} rows''')
print(merced_pd.shape)

merced_pd.head()

There are 1183 rows
(1183, 7)

       date  pm25  pm10   o3  no2  so2   co
0  2020/4/2    82    47   70         9    9
1  2020/4/3    82    38   48         3   10
2  2020/4/4    71    32   74   21    2   10
3  2020/4/5    66    30   61   15    1    9
4  2020/4/6    59    40   23   27    7   12

###### Display Milano

In [18]:
# Read and display the csv with Pandas
milano_pd = pd.read_csv(milano_csv, low_memory=False)

print(f'''There are {len(milano_pd)} rows''')
print(milano_pd.shape)

milano_pd.head()

# Missing o3, so2

There are 1872 rows
(1872, 5)

       date  pm25  pm10  no2  co
0  2020/4/2    61    30   29
1  2020/4/3    82    38   36
2  2020/4/4   102    43   30
3  2020/4/5   107
4  2020/3/4    70    27   41

###### Display Mumbai

In [19]:
# Read and display the csv with Pandas
mumbai_pd = pd.read_csv(mumbai_csv, low_memory=False)

print(f'''There are {len(mumbai_pd)} rows''')
print(mumbai_pd.shape)

mumbai_pd.head()

# Missing pm10, o3, no2, so2, co

There are 1756 rows
(1756, 2)

       date   pm25
0  2020/4/2     93
1  2020/4/3    105
2  2020/4/4     99
3  2020/4/5    111
4  2020/3/2    139

###### Display NY

In [20]:
# Read and display the csv with Pandas
ny_pd = pd.read_csv(ny_csv, low_memory=False)

print(f'''There are {len(ny_pd)} rows''')
print(ny_pd.shape)

ny_pd.head()

# Missing pm10, so2

There are 2277 rows
(2277, 5)

       date   pm25  o3  no2  co
0  2020/4/2     20        6
1  2020/4/3     14        6
2  2020/4/4     13        8
3  2020/4/5     14       19
4  2020/4/6     41       11

###### Display Sydney

In [21]:
# Read and display the csv with Pandas
sydney_pd = pd.read_csv(sydney_csv, low_memory=False)

print(f'''There are {len(sydney_pd)} rows''')
print(sydney_pd.shape)

sydney_pd.head()

# Missing pm10

There are 1412 rows
(1412, 6)

       date  pm25   o3  no2  so2  co
0  2020/4/2    12   19             1
1  2020/4/3    15   19         1   1
2  2020/4/4    31   17             1
3  2020/4/5    37   16             1
4  2020/4/6    22   15             1

###### Display Vancouver

In [22]:
# Read and display the csv with Pandas
vancouver_pd = pd.read_csv(vancouver_csv, low_memory=False)

print(f'''There are {len(vancouver_pd)} rows''')
print(vancouver_pd.shape)

vancouver_pd.head()

There are 784 rows
(784, 7)

       date  pm25  pm10   o3  no2  so2  co
0  2020/4/2    17     7   13    2
1  2020/4/3    22     4   15    1
2  2020/4/4    11     4   15    3
3  2020/4/5    12     6   14    3
4  2020/4/6    17    15   11    9

###### Display Wuhan

In [23]:
# Read and display the csv with Pandas
wuhan_pd = pd.read_csv(wuhan_csv, low_memory=False)

print(f'''There are {len(wuhan_pd)} rows''')
print(wuhan_pd.shape)

wuhan_pd.head()

There are 2164 rows
(2164, 7)

       date  pm25  pm10   o3  no2  so2   co
0  2020/4/2   101    46   45   13    3    8
1  2020/4/3   121    62   43   15    4    9
2  2020/4/4   156    60   61   18    5   10
3  2020/4/5   150    64   85   20    5    9
4  2020/4/6   151    58   57   22    6    9

# Merge all csvs

# Data processing

# Join Files

## Sort by

# Save file as...

In [ ]:
merge_dfs.to_csv(filename, index=False)